OPENAI_API_KEY="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"
ANTHROPIC_API_KEY="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"
GOOGLE_API_KEY="AIzaSyCCHLeGtddt68NowtO7JVJSQGNNDNIth70"